<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Adventure Planning</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
 <body>
<div id = "app">

  <div class ="headline">
    Adventure Travel Planning
  </div>

  <div class="u-input">
	  <div class ="holder">
		<label for="">Where are you going?</label>
		<input type="text" id="location" placeholder="enter city here">
	  </div>

	  <div class ="holder">
		<label for="">When are you leaving?</label>
		<input type="text" id="s-date" placeholder="enter start date here (MM/DD/YYYY)">
	  </div>

	  <div class ="holder">
		<label for="">When will you return?</label>
		<input type="text" id="e-date" placeholder="enter end date here (MM/DD/YYYY)">
	  </div>
  </div>

  <div class = "add-delete">
	  <div class = "buttons">
		<button type = "Add"> Add </button>
	  </div>
	  <div class = "buttons">
		<button type = "Remove"> Remove </button>
	  </div>
  </div>

  <div id ="city-image"></div>

  <div class ="results">
	<div class = "title">-----Trip Details-----</div>
	<div id = "city">Destination: </div>
	<div id = "start-date">Departure Date: </div>
	<div id = "end-date">Return Date: </div>
	<div id = "trip-length">Trip Length: </div>
  </div>
  <div class ="weather">
	<div class = "title">-----Weather Forecast-----</div>
	<div id = "c-temp">Current Temperature: </div>
	<div id = "c-cond">Current Conditions: </div>
  </div>
  </div >
  </div>
</div>
<script>
 // Check that service workers are supported
 if ('serviceWorker' in navigator) {
     // Use the window load event to keep the page load performant
     window.addEventListener('load', () => {
	 navigator.serviceWorker.register('/service-worker.js');
     });
 }
</script>
</body>
</html>
