body{
    background: #ffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr, 1fr, 1fr;
	padding: 25px;
    background: #FF8033;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
	border: 1px solid black;
	grid-template-areas:
		"top top top"
        "topL topL topL"
		"mid mid mid"
		"bottom bottom bottom"
		"details img img"
		"weather img img"

}

.headline {
	grid-area: top;
	text-align: center;
	font-size: 66px;
	border: 1px solid black;
}

.error-msg {
    grid-area: topL;
    text-align: center;
    font-size: 40px;
    border: 1px solid black;
}

.u-input {
	display: flex;
	margin: 5px;
	padding: 20px;
	grid-gap: 5em;
	grid-area: mid;
	border: 1px solid black;
}

.holder {
	justify-content: center;
	margin: 5px;
	text-align: center;
}

#city-image{
	grid-area: img;
	border: 1px solid black;
    background-image: none;
    background-size: contain;
    background-repeat: no-repeat;
}

.add-delete {
	display: flex;
	margin: 5px;
	padding: 20px;
	grid-gap: 5em;
	grid-area: bottom;
	border: 1px solid black;
	justify-content: center;
}

.buttons {
	display: flex;
	grid-area: bottom1;
	height: 100px;
}

.results {
	display: inline-block;
	grid-area: details;
	border: 1px solid black;
	padding: 8px;
}

.weather {
	display: inline-block;
	grid-area: weather;
	border: 1px solid black;
	padding: 8px;
}

label{
    font-size: 27px;
	text-align: center;
}

input{
    display: block;
    height: 70px;
    width: 300px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
	text-align: center;
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;

}
